:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  flex-direction: column;
}

.title {
  font-size: 3.2em;
  line-height: 1.1;
}

.list {
  max-width: 1280px;
  min-width: 500px;
  margin: 0 auto;
  padding: 32px;
  text-align: center;
  counter-reset: item;
}

.list__item {
  display: flex;
  column-gap: 20px;
  border-bottom: 1px solid #252626;
  padding: 9px 19px;
  font-weight: 500;
  font-size: 13px;
  cursor: move;
  transition: background-color 0.3s ease-out;

  &::before {
    content: counter(item);
    counter-increment: item;
  }

  &:first-child {
    border-top: 1px solid #252626;
  }
}

.selected {
  opacity: 0.6;
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in;
}
